attrs==20.3.0
Automat==20.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
constantly==15.1.0
crochet==1.12.0
ecdsa==0.16.1
hupper==1.10.2
hyperlink==21.0.0
idna==2.10
importlib-metadata==3.7.3
incremental==21.3.0
jsonpointer==2.1
jsonref==0.2
jsonschema==3.2.0
msgpack==1.0.2
omegaconf==2.0.0
paramiko==1.18.5
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
ply==3.4
py4j==0.10.7
pyasn1==0.4.8
pycparser==2.20
pycrypto==2.6.1
pyrsistent==0.17.3
pyspark==2.4.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==3.13
requests==2.25.1
rfc3987==1.3.8
simplejson==3.17.2
six==1.15.0
strict-rfc3339==0.7
swagger-spec-validator==2.7.3
thriftpy2==0.4.14
translationstring==1.4
Twisted==21.2.0
typing-extensions==3.7.4.3
urllib3==1.26.4
venusian==3.0.0
webcolors==1.11.1
WebOb==1.8.7
wrapt==1.12.1
yelp-avro==1.9.2
yelp-bytes==0.3.0
yelp-encodings==0.1.3
zipp==3.4.1
zope.deprecation==4.4.0
zope.interface==5.2.0
